.navMenu {
  position:absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navMenu img {
  height: 40px; 
  transition: height 0.2s ease-in-out;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 5px rgba(45, 152, 210, 0.697),
    0 0 10px rgba(120, 120, 241, 0.4),
    0 0 15px rgba(161, 91, 165, 0.3),
    0 0 20px rgba(216, 48, 194, 0.2);
}

.navMenu a:hover {
  color: #49415d;
}

@media (max-width: 768px) {
  .navMenu {
    top: 10px;
    gap: 10px;
  }

  .navMenu img {
    height: 30px; 
  }

  .navMenu a {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .navMenu {
    top: 5px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .navMenu img {
    height: 25px; 
  }

  .navMenu a {
    font-size: 0.9em;
  }

}
