/* Footer.css */
.footer {
    background-color: #ce8eeb37;
    padding: 10px 0;
    color: white;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footerLogo-container {
    flex: 1;
  }
  
  .footerLogo {
    max-width: 70px;
  }
  
  .social-media {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #b953e9;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .social-media {
      justify-content: center;
      margin-top: 15px;
    }
  }
  