.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

.cardSectiontext{
font-size: 50px;
  }


#dark .cardSectiontext{
  color: rgb(255, 255, 255);
}
  
#light .cardSectiontext{
  color: rgb(0, 0, 0);
}