/* General styles */
.containerCards {
  margin-bottom: 50px;
}

.sliderTitle {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fcfcfc;
}

.barCard {
  display: flex !important;
  align-items: center;
  width: calc(50% - 20px);
  max-width: 650px;
  padding: 30px;
  background: #554f5661;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(235, 17, 199, 0.071);
  margin: 30px; /* space between slides */
  text-align: justify;  /* Adjust text alignment as needed */
  ;
}

.barCard img {
  max-width: 280px;
  width: 100%;
  height: auto;  /* Allow height to adjust based on width */
  object-fit: cover;
  margin-right: 30px;
  border-radius: 24px;
}

.barCard h2 {
  color: whitesmoke;
  font-size: 22px;
  margin: 0 0 10px 0;
}

.barCard h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(184, 184, 184, 0.9);
  margin: 0 0 10px 0;
}

.barCard p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(137, 137, 137, 0.7);
  margin-bottom: 24px;
}

@media (max-width: 1285.60px) {
  .barCard {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .barCard {
    width: calc(100% - 50px);
  }
}

@media (max-width: 768px) {
  .barCard {
    margin: 15px; 
  }
}

@media (max-width: 480px) {
  .barCard {
    flex-direction: row-reverse;
    text-align: center;
    width: 100%;
    margin: 20px 0;
  }

  .barCard img {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: 100%;
  }

  .barCard h2 {
    font-size: 20px;
  }
}

/* .barBtn */

.barBtn {
  font-size: 18px;
  color: white;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.barBtn:focus,
.barBtn:hover {
  color: #a6a6a6;
}

.barBtn:focus:after,
.barBtn:hover:after {
  width: 100%;
  left: 0%;
}

.barBtn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #E56BFB;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
