.card {
    margin: 30px ;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px #8b2c5858;
    cursor: pointer;
    transition: 0.4s;
    
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit:fill;
  }

  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 25px;
    margin-top: -80px;
    height: 45px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
 #dark .title-white {
    color: white;
  }
  
  #light .title-white {
    color: rgb(60, 60, 60);  }
  
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
  
