 
  #bg-video {
      min-width: 100%;
      min-height: 100vh;
      max-width: 100%;
      max-height: 100vh;
      object-fit: cover;
      z-index: -1;
  }
  
  #bg-video::-webkit-media-controls {
      display: none !important;
  }
  
  .video-overlay {
      position: absolute;
      background-image: linear-gradient(to right top, #8b2c5839, #8d26665b, #8c237551, #8523875a, #7a299a57,
       #6b43b598, #4f59cc85, #006de16a, #008ff55b, #00aefe5e, #00ccff53, #00e7fc57);      
      top: 0;
      left: 0;
      bottom: -17px;
      width: 100%;
  }
  
  .main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
  }
  
  .main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .main-banner .caption h2 em {
    font-style: normal;
    color: #00E6FC;
    font-weight: 900;
    font-family: "Handjet", sans-serif;

  }
/* 
---------------------------------------------
Text Animation 
--------------------------------------------- 
*/
  .hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
  @keyframes hu__hu__ {
      50% { transform: translateY(30px) }
  }
/* 
---------------------------------------------
Logo 
--------------------------------------------- 
*/
  .logo-joystic{
    width: 10%;
  }