
.cardsContainer {
  width: 100%;
  height: auto;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  padding: 20px;  
  box-shadow: 0 30px 10px rgba(0, 0, 0, 0.125);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Adjusted to center the content */
  gap: 20px; /* Space between cards */
  margin-top: 11vh;
  margin-bottom: 30px;
}